div {
    box-sizing: border-box;
    float: left;
    height: 600px;
    background-color: yellow;
    border: 2px solid black;
}

#right {
    width: 400px;
}

#left {
    width: calc(100% - 400px);
}

#container::after {
    content: "";
    display: block;
    clear: both;
}